#body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(39, 36, 36);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
  }

#displayArea {
    width: 30vw;
    height: 90vh;
    overflow-y: hidden;
    word-wrap: break-word;
}

#QuestionInput {
    width: 30vw;
    height: 10px;
    border: 5px solid rgb(104, 6, 185);
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(100, 94, 94); 
}






